@using System.Security.Cryptography
@using ASPNZBat.ViewModels
@using Humanizer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.CodeAnalysis.CSharp
@model SeatBooking
@{
    ViewData["Title"] = "Create";
}
<!-- Header -->
<header id="header">

    <link href="~/css/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <div class="intro ">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1 style="color: azure">Welcome to <span class="brand">Vision College</span></h1>
                        <h2>Create a new Session booking</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Services Section -->
<div id="services" class="text-center">
    <form asp-action="Create">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12  col-md-offset-1 ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p></p>
                    <div class="form-group ">
                        <label for="count-checkboxes" class="badge badge-default trigger"> Choose which of the next 4 weeks you want to book</label>
                        @foreach (var week in ViewData["ThisWeek"] as List<DateTime>)

                        {
                            <div class="form-check text-left">
                                @Html.RadioButtonFor(m => m.SeatDate, week.Date.ToShortDateString())
                                <label class="form-check-label text-left" asp-for="SeatDate">@week.Date.ToShortDateString()  - @week.Date.Humanize() </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-0  no-gutters">  </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 ">
                    <div class="form-group">
                        <p>
                            @if (User.Identity.IsAuthenticated == false)
                            {
                                <label class=" label label-danger"> You must be logged in to Book</label>
                            }
                        </p>
                        <div class=" text-center py-2 mt-4">
                            <input type="submit" value="Add Your Booking" class="btn-default btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-1" />
                            <p></p>
                            <input placeholder="You must attend at least 4 sessions a week" type="text" id="count-checkboxes" class="form-control">
                            <label for="count-checkboxes" class="badge badge-default trigger"> You must attend at least 4 sessions a week</label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        @await Html.PartialAsync("~/Views/Shared/_BookingTable.cshtml")
    </form>
</div>
@await Html.PartialAsync("~/Views/Shared/_Stats.cshtml")

@section Scripts {
    @{
        //counting checkboxes and changing text
        <script>
            //make a variable for each checkbox
            var $checkboxes = $('input[type="checkbox"]');

            //when the checkboxes change
            $checkboxes.change(function () {
                //count how many are ticked
                var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
                //add that to the input box with some text
                $('#count-checkboxes').val(countCheckedCheckboxes + " sessions selected");
                //when 4 are checked make happy,
                if (countCheckedCheckboxes >= 4) {
                    $('#count-checkboxes').css("background-color", "#34DB34");
                    $('#countlabel').text("Congratulations!");
                }
                if (countCheckedCheckboxes < 4) {
                    $('#count-checkboxes').css("background-color", "#FFFFFF");
                    $('#countlabel').text("Keep Going!!");
                }

            });
        </script>




        //Show and hide sessions that are not being used
        var lblid = "#S1L"; //create a session label for the session
        var cbxid = "#S1"; //create a checkbox ID
        var fid = "#f1"; //create a form ID
        var idth = "#1th"; //create a cellheader ID id="1th hide the table header"
        var sSid = "#sS1"; //create a cell  ID id="sS1 hide the table cells"
        var sessHide = "#sessHide"; //not used

        //Cant move to js because of the Razor ViewData
        List<bool> IsSessionVis = new List<bool>();
        IsSessionVis = ViewData["SessionVisible"] as List
            <bool>;

        for (int i = 1; i < 16; i++)
        {
            lblid = "#S" + i + "L";
            cbxid = "#S" + i;
            fid = "#f" + i;
            idth = i + "th";
            sSid = "sS" + i;

            if (IsSessionVis[i] == false) //the bool shows if the session is running or not
            {
                <script>
                        $(document).ready(function() {
                            //Hide the checkbox intially id="S1L"
                            $('@cbxid').css('display', 'none');
                            $("label[id= '@lblid']").css('display', 'none');
                            $('@fid').css('display', 'none');
                            $("th[id= '@idth']").css('display', 'none');
                            $("td[id= '@sSid']").css('display', 'none');
                        });
                </script>
            }

            else //false
            {
                <script>
                        $(document).ready(function() {
                            //Show the checkbox intially id="S1L"
                            $('@cbxid').css('display', 'block');
                            $("label[id= '@lblid']").css('display', 'block');
                            $('@fid').css( 'display', 'block');
                        });
                </script>

            }

        }
    }

    <script src="~/js/Create.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}