@model ASPNZBat.Models.SeatBooking
@{
    ViewData["Title"] = "Edit";

    string weekDate = Model.SeatDate.ToShortDateString().ToString();
}
<!-- Header -->
<header id="header">
    <div class="intro ">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1 style="color:azure">Welcome to <span class="brand">Vision College</span></h1>
                        <h2>Edit Your Seat bookings</h2>
                        <h2 style="color:azure" class="brand">The Week of @weekDate </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="services" class="text-center">
    <form asp-action="Edit">
        <div class="form-group">
            @* fields we don't want to show.*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="StudentEmail" />
            <input type="hidden" asp-for="SeatDate" />
        </div>


        @Html.DisplayNameFor(model => model.SeatDate)
        @await Html.PartialAsync("~/Views/Shared/_BookingTable.cshtml")

        <div class="form-group">
            <input type="submit" value="Update your Session" class="btn btn-default" />
        </div>
    </form>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

@section Scripts {
    @{

        //Show and hide sessions that are not being used
        var lblid = "#S1L"; //create a session label for the session
        var cbxid = "#S1"; //create a checkbox ID
        var fid = "#f1"; //create a form ID


        List<bool>
            SessionVis = new List
                <bool>
                ();
        SessionVis = ViewData["SessionVisible"] as List
            <bool>
            ;

        for (int i = 1; i < 16; i++)
        {
            lblid = "#S" + i + "L";
            cbxid = "#S" + i;
            fid = "#f" + i;

            if (SessionVis[i] == false) //true
            {
                <script>
                    $(document).ready(function() {
                        //Hide the checkbox intially id="S1L"
                        $('@cbxid').css('display', 'none');
                        $("label[id= '@lblid']").css('display', 'none');
                        $('@fid').css('display', 'none');
                    });
                </script>
            }

            else //false
            {
                <script>
                $
                (document).ready(function()
                {
                    //Show the checkbox intially id="S1L"
                $
                    ('@cbxid').css('display', 'block');
                    $
                    ("label[id= '@lblid']").css('display', 'block');
                    $
                    ('@fid').css('display', 'block');
                }
            )
                ;
                </script>

            }

        }
    }



}
