<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"] - ASPNZBat</title>
    @*<environment include="Development">*@

    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    @*   <link href="~/css/jsgrid.css" rel="stylesheet" />
        <link href="~/css/jsgrid-theme.css" rel="stylesheet" />*@
    <link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />

    <link href="~/css/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @*Bootstrap core CSS
        <link href="css/bootstrap.min.css" rel="stylesheet">*@
    <!-- Material Design Bootstrap -->
    @*</environment>*@
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <a class="navbar-brand" href="#page-top"><img src="~/image/logo.svg" height="40" alt="Atena" data-retina="true"></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Collect the nav links, forms, and other content for toggling -->


                <ul class="nav navbar-nav navbar-right">

                    <li class=" dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Students" asp-action="Timetable">View the Timetable</a>
                            <a class="dropdown-item" asp-controller="Students" asp-action="Index">Student Details</a>
                            <a class="dropdown-item" asp-controller="AdminDatas" asp-action="Edit">
                                Edit Sessions
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Email" asp-action="TestEmail">Send Email</a>
                            <a class="dropdown-item" asp-controller="Email" asp-action="TestCalendar">Send Calendar Events</a>
                        </div>
                    </li>
                    <li class=" dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            What Shall We Do?
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="SeatBookings" asp-action="Create">Create A Booking</a>
                            <a class="dropdown-item" asp-controller="SeatBookings" asp-action="Index">Check Your Bookings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Email" asp-action="TestEmail">Send Email</a>
                            <a class="dropdown-item" asp-controller="Email" asp-action="TestCalendar">Send Calendar Events</a>
                        </div>
                    </li>

                    <li> <partial name="_LoginPartial" /></li>
                </ul>

            </div>

        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div id="crudPage">
        <div class="clearfix   ">
            @*<div class="container body-content card">*@
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; 2018 - NZBat - Crafted with Coffee</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.datetimepicker.js"></script>
        <script src="~/js/jquery.mobile-1.4.5.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery.mobile-1.4.5.min.js"></script>
        <script src="~/js/Create.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <!-- SCRIPTS -->
        <!-- JQuery -->
        @*<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>*@
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="~/js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        @*<script type="text/javascript" src="js/bootstrap.min.js"></script>*@
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="~/js/mdb.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
