@using RazorHtmlEmails.RazorClassLib.Views.Emails.ConfirmAccount
@using RazorHtmlEmails.RazorClassLib.Views.Shared
@model RazorHtmlEmails.RazorClassLib.Views.Emails.RebookSessions.RebookSessionsEmailViewModel
@{
    ViewData["EmailTitle"] = "Welcome!";
}
<p>
    You only have 1 week left of your Session Booking for the course. Please log into Website URL and create some more.
</p>
<br />
@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Account", Model.ConfirmEmailUrl))
<br />
<p>
    Remember that you must attend 4 sessions per week to achieve this qualification.
</p>
<br />

